.gparent {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 15px;
}

.gchild {
    background-color: rgb(43, 240, 43);
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.gchild_1 {
    grid-row: 1 / 13;
}

.gchild_2 {
    grid-row: 1 / 7;
}

.gchild_3 {
    grid-row: 7 / 13;
}

.gchild_4 {
    grid-row: 1 / 5;
}

.gchild_5 {
    grid-row: 5 / 9;
}

.gchild_6 {
    grid-row: 9 / 13;
}

.gchild_7 {
    grid-row: 1 / 4;
}

.gchild_8 {
    grid-row: 4 / 7;
}

.gchild_9 {
    grid-row: 7 / 10;
}

.gchild_10 {
    grid-row: 10 / 13;
}

.gchild_11 {
    grid-row: 1 / 3;
}

.gchild_12 {
    grid-row: 3 / 5;
}

.gchild_13 {
    grid-row: 5 / 7;
}

.gchild_14 {
    grid-row: 7 / 9;
}

.gchild_15 {
    grid-row: 9 / 11;
}

.gchild_16 {
    grid-row: 11 / 13;
}